@model WebProtectoraMilpatitas.Models.MensajeViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar mensaje</h2>
<div class="formEliminarGuapo">
    <h2>¿Estas seguro de que deseas eliminar este mensaje?</h2>
</div>
<div>
    
    <hr />


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color parrafoCentrar">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <i class="fas fa-comment-dots"></i> @Html.ActionLink("Volver al chat", "Index")
        </div>
    }
</div>
