@model ProtectoraMilpatitasGenNHibernate.CEN.ProtectoraMilpatitas.AnimalCEN

@{
    ViewBag.Title = "Eliminar animal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar animal</h2>

<div class="formEliminarGuapo">
    <h2>¿Estás seguro de que quieres eliminar al animal @ViewData["NombreAnim"]?</h2>
</div>
<div>
    <hr />

    @using (Html.BeginForm("Delete", "Animal", FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color parrafoCentrar">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            <i class="fas fa-paw"></i> @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
