@model ProtectoraMilpatitasGenNHibernate.CEN.ProtectoraMilpatitas.AnimalCEN

@{
    ViewBag.Title = "Borrar Animal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>¿Estas seguro de quieres borrar del animal?</h3>
<div>
    <h4>AnimalCEN</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
