@model ProtectoraMilpatitasGenNHibernate.CEN.ProtectoraMilpatitas.AnimalCEN

@{
    ViewBag.Title = "Eliminar animal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar animal</h2>

<h3>¿Estás seguro de que quieres eliminar al animal @ViewData["NombreAnim"]?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
