@model WebProtectoraMilpatitas.Models.TestAnimalIdealViewModel

@{
    ViewBag.Title = "Eliminar Test Animal Ideal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Test Animal Ideal</h2>
<div class="formEliminarGuapo">
    <h2>¿Estás seguro de que quieres eliminar el test @ViewData["IdTest"] de @ViewData["NombreTest"]?</h2>
</div>
<div>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color parrafoCentrar">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            <i class="fas fa-clipboard-list"></i> @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
