@model WebProtectoraMilpatitas.Models.TestAnimalIdealViewModel

@{
    ViewBag.Title = "Ver Resultado";
    Layout = "~/Views/Shared/_LayoutUsu.cshtml";
}

<h2>Resultado del test @ViewData["IdTest"] del usuario @ViewData["NombreTest"]</h2>

<div>

    <hr />
    <main id="mainart">
        

            <h2 style="width: 100%">
                @Html.DisplayFor(model => model.Resultado)
            </h2>
            <p style="width: 100%;">
                @{
                    string foto = "";

                    if (Model.Resultado.Contains("perro"))
                    {
                        foto = "perro";
                    }
                    else
                    {
                        if (Model.Resultado.Contains("gato"))
                        {
                            foto = "gato";
                        }
                        else
                        {
                            if (Model.Resultado.Contains("pez"))
                            {
                                foto = "pez";
                            }
                            else
                            {
                                if (Model.Resultado.Contains("pajaro"))
                                {
                                    foto = "pajaro";
                                }
                                else
                                {
                                    if (Model.Resultado.Contains("tortuga"))
                                    {
                                        foto = "tortuga";
                                    }
                                    else
                                    {
                                        if (Model.Resultado.Contains("geco"))
                                        {
                                            foto = "geco";
                                        }
                                        else
                                        {
                                            if (Model.Resultado.Contains("conejo"))
                                            {
                                                foto = "conejo";
                                            }
                                            else
                                            {
                                                if (Model.Resultado.Contains("hamster"))
                                                {
                                                    foto = "hamster";
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    string ruta = "";
                    ruta = @"Imagenes/Test/Resultado/" + foto + ".jpg";
                    <img style="display:block; margin:auto;" src=~/@ruta />
                }
            </p>
            

        
    </main>
</div>
<p style="text-align: center;">
    @Html.ActionLink("Volver a inicio", "Index", "Home")
</p>
