@model WebProtectoraMilpatitas.Models.SolicitudAdopcionViewModel

@{
    ViewBag.Title = "Eliminar Solicitud de Adopcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Solicitud de Adopcion</h2>

<h3>¿Estás seguro de que quieres eliminar la solicitud @ViewData["IdSol"] de @ViewData["NombreSol"]?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
