@using Microsoft.AspNet.Identity
@using ProtectoraMilpatitasGenNHibernate.EN.ProtectoraMilpatitas;
@{ 
    string nombreUsu = "";
    string idUsu = "";

    if (Session["Usuario"]!=null)
    {
        nombreUsu = ((UsuarioEN)Session["Usuario"]).Nombre;
        idUsu = ((UsuarioEN)Session["Usuario"]).Email;
    }
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <i class="fas fa-id-badge"></i> @Html.ActionLink("Mi Perfil ", "Perfil", "Usuario", new { email = idUsu }, htmlAttributes: new { title = "Manage" })
        </li>
        <li><i class="fas fa-sign-out-alt"></i> <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><i class="fas fa-user-plus"></i> @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li><i class="fas fa-sign-in-alt"></i> @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
