@model IEnumerable<ProtectoraMilpatitasGenNHibernate.EN.ProtectoraMilpatitas.UsuarioEN>
@{
    ViewBag.Title = "Protectora Milpatitas";
}

<h3>Últimos animales</h3>
<table>
    @foreach(var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem->item.nombre)</td>
        </tr>
    }
</table>