
.articulos:hover {
    border: 4px solid #fc810e;
}

#mainart, #secanim {
    background-color: #fff99f;
    border: 4px solid #fc810e;
    padding: 2em;
}

    #mainart > .articulos > div {
        margin-top: 20px;
        width: 230px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-size: 18px;
    }

    #mainart > .articulos {
        padding: 1em;
        width: 95%;
        border-radius: 10px;
        background-color: #c4f2c6;
        margin: 3em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #secanim > .articulos {
        padding: 1em;
        width: 95%;
        border-radius: 10px;
        background-color: #c4f2c6;
        margin: 1em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
@media all and (min-width: 680px) {

    #mainart {
        display: flex;
        flex-wrap: wrap;
    }

    #mainart>.articulos{
        width: 45%;
        margin-top: 1em;
    }
    #secanim>.articulos{
        width: 600px;
    }
    
}

@media all and (min-width: 1020px) {
    #mainart > .articulos {
        margin-left: 2.4%;
        margin-right: 0%;
        width: 30%;
    }
    #mainart {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
}

@media all and (min-width: 1100px) {
    #mainart{
    padding: 3em;
    }
 }