
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    color: black;
}

/*****************ELEMENTOS COMUNES A TODAS LAS PAGINAS****************/
img{
    width: 200px;
    height: 200px;
    
}

a {
    color: darkslateblue;
    text-decoration: none;
}
a:hover {
        color: #fc810e;
}
.pagination {
    display: flex;
}
p{
    padding: 0.1em;

}

b{
    padding: 0.1em;
}



body {
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 20px;
    background-color: #c4f2c6;
    min-width: 340px;
}


.body-content {
    padding: 15px;
}


h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2em;
    margin: 0.2em;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-weight: 800;
    margin: 0.2em;
    text-align: center;
    font-size: 4em;
}

h3{

}
/******************** CSS para el mensaje modal **************************/
#capafondo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.8);
}
#capafondo > article {
    background-color: #fff99f;
    border: 2px solid #fc810e;
    text-align: center;
    width: 20em;
    position: absolute;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
}

    #capafondo > article > h2 {
        background: linear-gradient(to bottom, #CEF0D0 5%, #c4f2c6 100%);
        background-color: #fff99f;
        color: #fff;
        margin: 0;
        padding: .5em;
    }
    #capafondo > article > footer {
        background: linear-gradient(to bottom, #c4f2c6 5%, #CEF0D0 100%);
        background-color: #fff99f;
        color: #fff;
        margin: 0;
        padding: .5em;
    }

    

/********************PAGINA CON TABLAS (USUARIO, CONTRATO, SOLICITUD, SEGUIMIENTO)**********************/

.table {
    padding: 1em;
    width: 85%;
    background-color: #c4f2c6;
   
    text-align: center;
    border: 2px solid #fc810e;
}

.table tr {
        background-color: #fff99f;
}

.table figure img {
       
        width: 150px;
        height: 150px;
        border-radius: 70%;
        padding: 1em;
}


/****************************PAGINA DE ANIMALES***************************************/

#mainart, #secanim {
    border: 4px solid #fc810e;
    background-color: #fff99f;
    padding: 2em;
}
#mainart > .articulos > div {
    margin-top: 20px;
    width: 230px;
    text-align: left;
    font-size: 1em;
    padding: 1em;
    margin: 1em;
  
}

.articulos:hover {
    box-shadow: 5px 10px 18px black;
}



  #mainart > .articulos > div > a{
      margin: 0.5em;
      padding: 0.5em;
  }



#mainart > .articulos {
        padding: 1em;
        width: 95%;
        background-color: #c4f2c6;
        margin: 2em;
        text-align: center;
        margin-right:auto;
        margin-left: auto;
}


#secanim > .articulos {
    padding: 1em;
    width: 200px;
    background-color: #c4f2c6;
    margin: 1em;
    text-align: left;
    height: 200px;
}



/**********************PAGINA DE HOME ADMIN***************************/

.inicio > li {
    font-size: 1em;
    padding: 0.8em;
    margin: 0.8em;
    background-color: #fff99f;
    text-align: center;
    list-style-type: none;
}

.inicio{
    margin: 1em;
    justify-content: center;
    font-size: 1.2em;
}

/********************FORMULARIOS Y PAGINAS CREATE EDIT MODIFICAR*****************/

ul {

    justify-content: center;
    text-align: center;
    list-style-type: none;
   
  
}

#busqueda_Rapida > input[type="search"] {
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid #fc810e;
    padding: .5em;
    padding-left: 1em;
    margin-left: auto;
    margin-right: auto;
}
#busqueda_Rapida > input[type="search"]:hover{
    cursor: pointer;
}
.formGuapo, .formNoTanGuapo, .formIncreible {
    border: 2px solid #fc810e;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background-color: #fff99f;
}
.formGuapo > .text, .formNoTanGuapo> .text{
    display: flex;
    flex-direction: column;
}
    .formGuapo > .text > input, .formGuapo > .text > select, .formNoTanGuapo>.text>input, .formNoTanGuapo>.text>select {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .form-horizontal {
        background-color: #fff99f;
        text-align: center;
        justify-content: center;
        margin-right: 18em;
        margin-left: 18em;
        border: 2px solid #fc810e;
    }


.form-horizontal div{
    padding: 0.5em;
    
    text-align: center;
}



hr {
    display: none;
}

form {
    justify-content: center;
    text-align: center;
  
}

.dl-horizontal {
    background-color: #fff99f;
    border: 2px solid #fc810e;
    margin: 2em;
}

/***********************PAGINA DETALLE ANIMAL*********************************/


.detalle {
    padding: 1em;
    width: 90%;
    background-color: #c4f2c6;
    margin: 1em;
    text-align: center;
    justify-content: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

    .detalle > img {
        width: 95%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        margin-bottom: 10px;
    }

#datis {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #fff99f;
    padding: 1em;
    margin-bottom: 10px;
}

#enlacis {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: left;
    background-color: #fff99f;
}
/*
.navbar-header {
    display: grid;
    grid-template-areas: "nombre"
                          "menu";
    
    grid-template-columns: 70%;
    
    justify-content: center;
    
    align-items: center;
    width: 60%;
    margin: 0;
    padding: 0;
    
   
}


#title {
    text-transform: uppercase;
    font-size: 2em;
    grid-area: nombre;
}

.listaarriba {
    display: flex;
    grid-area: menu;
   
}
*/
.navbar-nav {
    margin-left: -39px;
}
.fa-bars , .fa-times{
    cursor: pointer;
}
.respmenu > nav > ul {
    width: 100%;
}
.navbar-nav:active {
    position: static;
    opacity: 1;
    transition: opacity 1s linear;
}
.respmenu>nav>ul>li{
    width: 100%;
}
.respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border: 2px solid #fff99f;
    max-width: 200px;
    background: #fc810e;
}

.respmenu a:hover{
    background: #fff99f;
}

.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
  /*  position: left;*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    color: #fff99f;
    
}
.respmenu > .fa-bars:hover, .respmenu > .fa-times:hover, .respmenu input[type="checkbox"]:hover{
    color: yellow;
}
.respmenu>label>.fa-bars, .respmenu>label>.fa-times {
    font-size: 48px;
    pointer-events: none;
}

.respmenu > label {
    font-size: 48px;
}

.respmenu input[type="checkbox"] {
    opacity: 0;
}

.respmenu {
    color: white;
    position: relative;
    background: #fc810e;
    min-height: 48px;
}

    .respmenu nav {
        display: none;
    }
    #form_registro{
        display: none;
    }
    .respmenu input:checked ~ nav  {
        display: block;
        
    }

    .respmenu input:checked ~ .fa-bars {
        display: none;
    }

    .respmenu input:not(:checked) ~ .fa-times {
        display: none;
    }

    input:checked ~ #form_registro{
        display: block;
        margin-top: -16px;
    }
.fa-search{
    margin-right: 10px;
    color: #fc810e;
}
.fa-search:hover{
    color: #fff99f;
    cursor: pointer;
}
.formIncreible>.notext{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.formIncreible>.notext>input{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.arri, header{
    background-color: #fc810e;
}
/*
.listaarriba input[type = "checkbox"]{
    display: none;
}

    .listaarriba > ul {
        background-color: #fc810e;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        left: -110%;
        transition: left .5s;
    }


}#chkmenu {
    display: none;
}

#chkmenu:checked + .nav{
    left: 0;
}
    #chkmenu:not(:checked) ~ .navbar-right {
       
       visibility: hidden; 
    }

    #chkmenu:checked ~ .navbar-right {
       
        visibility: visible;
        transition: 4s;
    }
.listaarriba li {
    font-size: 1em;
    padding: 1em;
    margin: 1em;
    
}
*/
.detalle > .img > img {
    width: 220px;
    height: 220px;
}
@media all and (min-width: 550px) {
    .listaarriba > label {
        display: none;
    }

    .listaarriba > div > nav > ul {
        display: flex;
        flex-direction: column;
        left: 0;
        justify-content: center;
        transition: .5s;
    }

    #partemenu {
        display: flex;
        flex-direction: column;
        left: 0;
        justify-content: center;
    }

    .navbar-right {
        visibility: visible;
    }

    .detalle > .img > img {
        width: 275px;
        height: 275px;
    }

    #mainart > .articulos {
        width: 85%;
    }
}
@media all and (min-width: 620px){
    /*Aqui escribimos el codigo de los formularios*/
    .formGuapo, .formNoTanGuapo, .formIncreible {
        width: 580px;
    }
    .formGuapo > .text, .formNoTanGuapo>.text {
        display: flex;
        flex-direction: row;
    }
    .formGuapo>.text>label, .parFoto{
        text-align: left;
        margin-left: 10px;
        width: 140px;
    }
        .formNoTanGuapo > .checkbox {
            margin-top: -40px;
            width: 10%;
            margin-left: 161px;
        }
    .parFoto2{
        text-align: left;
        margin-left: 10px;
        width: 170px;
    }
    .formNoTanGuapo>.text>label{
        text-align: left;
        margin-left: 10px;
        width: 170px;
    }
    .formGuapo > .text > input, .formGuapo > .text > select, .formNoTanGuapo > .text > input, .formNoTanGuapo > .text > select {
        margin-left: initial;
        width: 60%;
        margin-top: 0px;
    }
    .parFoto > label > img {
        margin-left: 140px;
        margin-top: -20px;
    }
    .parFoto2 > label > img {
        margin-left: 170px;
        margin-top: -20px;
    }
    .busFot2{
        text-align:left;
        margin-top: -20px;
        margin-left: 180px;
    }
    .busFot {
        text-align: left;
        margin-top: -20px;
        margin-left: 150px
    }
    .formGuapo > .text-danger {
        text-align: left;
       width: 640px;
    }
    #busqueda_Rapida > input[type="search"]:hover {
        width: 500px;
        transition: width .5s;
    }
    #busqueda_Rapida > input[type="search"] {
        width: 300px;
        transition: width 1.2s;
    }
    #mainart > .articulos {
        width: 75%;
    }
}

@media all and (min-width: 680px) { 
    #mainart {
        display: flex;
        flex-wrap: wrap;
    }
    .detalle > img {
        width: 500px;
        height: 450px;
    }
    #mainart > .articulos {
        width: 40%;
        margin-top: 1em;
    }

    #secanim > .articulos {
        width: 600px;
    }
    .detalle > .img > img {
        width: 350px;
        height: 350px;
    }
}



@media all and (min-width: 900px) {

    #details>div{
        width: 45%;
        margin-bottom: 10px;
    }
    .detalle>div{
        display: flex;
        flex-direction: column;
    }
    #divAnim{
        display: flex;
        flex-direction: row;
    }
    .detalle>img{
        width: 600px;
        height: 450px;
    }
    #details{
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        display: flex;
        flex-wrap: wrap;
    }
    #mainart > .articulos > .animIndex {
        width: 90%;
    }
    #datis, #enlacis {
        width: 42%;
    }
    .detalle > .img > img {
        width: 400px;
        height: 400px;
    }
}
@media all and (min-width: 1020px) {
    #mainart > .articulos {
        margin-left: 2.4%;
        margin-right: 0%;
        width: 30%;
    }

    #mainart {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        height: 50%;
    }
}

@media all and (min-width: 1100px) {
    #mainart {
        padding: 3em;
    }
}
@media all and (min-width: 1050px){
    .listaarriba > .respmenu > .fas {
        display: none;
    }

    .listaarriba > div > nav, #form_registro {
        display: block;
    }
    input:checked ~ #form_registro{
        margin-top: -83.5px;
    }
    .respmenu > nav > ul {
        margin-left: 9%;
    }
    #form_registro {
        padding-bottom: .1em;
        width: 30%;
        margin-left: auto;
        margin-top: -83px;
    }

        #form_registro > form > .navbar-right {
            display: flex;
        }

    .listaarriba > div > nav > ul {
        width: 100%;
    }

    .listaarriba > div > nav {
        padding: .1em;
        width: 60%;
    }

        .listaarriba > div > nav > ul > li {
            width: 170px;
            height: 49px;
            margin-left: 0;
        }

        .listaarriba > div > nav > ul, #form_registro > ul {
            display: flex;
            flex-direction: row;
            left: 0;
            justify-content: center;
            transition: .5s;
        }
}