
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    color: black;
}

/*****************ELEMENTOS COMUNES A TODAS LAS PAGINAS****************/
img{
    width: 200px;
    height: 200px;
    
}
#mainart > .articulos > img {
    margin-top: 20px;
    width: 70%;
    height: 230px;
}
.parrafoCentrar{
    text-align: center;
    margin-top: 20px;
}
a {
    color: darkslateblue;
    text-decoration: none;
}
a:hover {
        color: #fc810e;
}
.pagination {
    display: flex;
    width: 98%;
}
p{
    padding: 0.1em;

}

b{
    padding: 0.1em;
}



body {
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0;
    background-color: #c4f2c6;
    min-width: 340px;
}


.body-content {
    padding: 15px;
}


h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2em;
    margin: 0.2em;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-weight: 800;
    margin: 0.2em;
    text-align: center;
    font-size: 4em;
}

h3{

}
/******************** CSS para el mensaje modal **************************/
#capafondo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.8);
}
#capafondo > article {
    background-color: #fff99f;
    border: 2px solid #fc810e;
    text-align: center;
    width: 20em;
    position: absolute;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
}
header, footer {
    padding: .5em;
    box-shadow: inset 0px -3px 7px 0px #FEA046;
    background: linear-gradient(to bottom, #FC993B 5%, #FC800B 100%);
    background-color: #fc810e;
    text-align: center;
}
    #capafondo > article > h2 {
        background: linear-gradient(to bottom, #CEF0D0 5%, #c4f2c6 100%);
        background-color: #fff99f;
        color: #fff;
        margin: 0;
        padding: .5em;
    }
    #capafondo > article > footer {
        background: linear-gradient(to bottom, #c4f2c6 5%, #CEF0D0 100%);
        background-color: #fff99f;
        color: #fff;
        margin: 0;
        padding: .5em;
    }

    

/********************PAGINA CON TABLAS (USUARIO, CONTRATO, SOLICITUD, SEGUIMIENTO)**********************/

.table {
    padding: 1em;
    width: 85%;
    background-color: #c4f2c6;
   
    text-align: center;
    border: 2px solid #fc810e;
}

.table tr {
        background-color: #fff99f;
}

.table figure img {
       
        width: 150px;
        height: 150px;
        border-radius: 70%;
        padding: 1em;
}


/****************************PAGINA DE ANIMALES***************************************/

#mainart, #secanim {
    border: 4px solid #fc810e;
    background-color: #fff99f;
    padding: 2em;
}
#mainart > .articulos > div {
    margin-top: 20px;
    width: 230px;
    text-align: left;
    font-size: 1em;
    padding: 1em;
    margin: 1em;
  
}

.articulos:hover {
    box-shadow: 5px 10px 18px black;
}



  #mainart > .articulos > div > a{
      margin: 0.5em;
      padding: 0.5em;
  }



#mainart > .articulos {
        padding: 1em;
        width: 95%;
        background-color: #c4f2c6;
        margin: 2em;
        text-align: center;
        margin-right:auto;
        margin-left: auto;
}


#secanim > .articulos {
    padding: 1em;
    width: 200px;
    background-color: #c4f2c6;
    margin: 1em;
    text-align: left;
    height: 200px;
}



/**********************PAGINA DE HOME ADMIN***************************/

.inicio > li {
    font-size: 1em;
    padding: 0.8em;
    margin: 0.8em;
    background-color: #fff99f;
    text-align: center;
    list-style-type: none;
}

.inicio{
    margin: 1em;
    justify-content: center;
    font-size: 1.2em;
}

/********************FORMULARIOS Y PAGINAS CREATE EDIT MODIFICAR*****************/

ul {

    justify-content: center;
    text-align: center;
    list-style-type: none;
   
  
}

#busqueda_Rapida > input[type="search"] {
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid #fc810e;
    padding: .5em;
    padding-left: 1em;
    margin-left: auto;
    margin-right: auto;
}
#busqueda_Rapida > input[type="search"]:hover{
    cursor: pointer;
}
.formGuapo, .formNoTanGuapo, .formIncreible, .formTestIdeal, .formEliminarGuapo {
    border: 2px solid #fc810e;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background-color: #fff99f;
}
.formGuapo > .text, .formNoTanGuapo> .text{
    display: flex;
    flex-direction: column;
}
    .formGuapo > .text > input, .formGuapo > .text > select, .formNoTanGuapo>.text>input, .formNoTanGuapo>.text>select {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .form-horizontal {
        background-color: #fff99f;
        text-align: center;
        justify-content: center;
        margin-right: 18em;
        margin-left: 18em;
        border: 2px solid #fc810e;
    }
.formTestIdeal > .form-group > .textIdeal {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.textIdeal>img, .textIdeal>input[type="radio"]{
    display: block;
    margin: auto;
    margin-top: 20px;
}

.form-horizontal div{
    padding: 0.5em;
    
    text-align: center;
}



hr {
    display: none;
}

form {
    justify-content: center;
    text-align: center;
  
}

.dl-horizontal {
    background-color: #fff99f;
    border: 2px solid #fc810e;
    margin: 2em;
}

/***********************  Readfilters  ************************/

.readFilters{
    width: 90%;
    margin-left: auto;
    margin-left: auto;
    border: 2px solid #fc810e;
    background-color: #fff99f;
}
.readFilters>ul{
    padding-left: inherit;
}
.readFilters>ul>li>form>p{
    display: flex;
    flex-direction: column;
}
.readFilters > ul > li > form > p >.searchPoner{
        width: 100%;
 }
.readFilters>ul>li>form>p>.searchPoner>[type="text"]{
    width: 80%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
/***********************PAGINA DETALLE ANIMAL*********************************/
.detalle, .detalleUsu {
    padding: 1em;
    width: 90%;
    background-color: #c4f2c6;
    margin: 1em;
    text-align: center;
    justify-content: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

    .detalle > img {
        width: 95%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        margin-bottom: 10px;
    }

#datis, #datisUsu {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #fff99f;
    padding: 1em;
    margin-bottom: 10px;
}
#datisUsu{
    margin-top: 2em;
}

#enlacis {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: left;
    background-color: #fff99f;
}
/*
.navbar-header {
    display: grid;
    grid-template-areas: "nombre"
                          "menu";
    
    grid-template-columns: 70%;
    
    justify-content: center;
    
    align-items: center;
    width: 60%;
    margin: 0;
    padding: 0;
    
   
}


#title {
    text-transform: uppercase;
    font-size: 2em;
    grid-area: nombre;
}

.listaarriba {
    display: flex;
    grid-area: menu;
   
}
*/
.navbar-nav {
    margin-left: -27px;
}
.fa-bars , .fa-times{
    cursor: pointer;
}
.respmenu > nav > ul {
    width: 100%;
}
.navbar-nav:active {
    position: static;
    opacity: 1;
   
}
.respmenu>nav>ul>li{
    width: 100%;
}
.respmenu li {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border: 2px solid #fff99f;
    max-width: 200px;
    background: #fc810e;
}

.respmenu li:hover{
    background: #fff99f;
}

.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
  /*  position: left;*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    color: #fff99f;
    
}
.respmenu > .fa-bars:hover, .respmenu > .fa-times:hover, .respmenu input[type="checkbox"]:hover{
    color: yellow;
}
.respmenu>label>.fa-bars, .respmenu>label>.fa-times {
    font-size: 48px;
    pointer-events: none;
}
.pagination>li{
    font-size: 20px;
    margin-left: 15px;
}
.respmenu > label {
    font-size: 48px;
}

.respmenu input[type="checkbox"] {
    opacity: 0;
}

.respmenu {
    color: white;
    position: relative;
    background: #fc810e;
    min-height: 48px;
}
th{
    padding: .1em;
}
    .respmenu nav {
        display: none;
    }
    #form_registro{
        display: none;
        padding-bottom: .1em;
    }
    .respmenu input:checked ~ nav  {
        display: block;
        
    }

    .respmenu input:checked ~ .fa-bars {
        display: none;
    }

    .respmenu input:not(:checked) ~ .fa-times {
        display: none;
    }

    input:checked ~ #form_registro{
        display: block;
        margin-top: -16px;
    }
.fa-search{
    margin-right: 10px;
    color: #fc810e;
}
.fa-search:hover{
    color: #fff99f;
    cursor: pointer;
}
.listaarriba > div > nav > ul > li > i:hover {
    color: darkslateblue;
    cursor: context-menu;
}
.formIncreible > .notext {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.formIncreible>.notext>input{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.arri, header{
    background-color: #fc810e;
}
/*
.listaarriba input[type = "checkbox"]{
    display: none;
}

    .listaarriba > ul {
        background-color: #fc810e;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        left: -110%;
        transition: left .5s;
    }


}#chkmenu {
    display: none;
}

#chkmenu:checked + .nav{
    left: 0;
}
    #chkmenu:not(:checked) ~ .navbar-right {
       
       visibility: hidden; 
    }

    #chkmenu:checked ~ .navbar-right {
       
        visibility: visible;
        transition: 4s;
    }
.listaarriba li {
    font-size: 1em;
    padding: 1em;
    margin: 1em;
    
}
*/
.detalle > .img > img {
    width: 220px;
    height: 220px;
}
#details > article > h2, .articulos > .titleUsus {
    font-size: 20px;
    margin-bottom: 15px;
}
.listaarriba > div > nav > ul > li > i, #form_registro > form > ul > li > i, #form_registro > ul > li>i {
    color: darkslateblue;
}
.listaarriba > div > nav > ul > li, #form_registro > form > ul > li, #form_registro > ul > li {
    text-align: left;
}
#enlacesAnims{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#enlacesAnims>h3{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid #fc810e;
    background-color: #fff99f;
}

@media all and (min-width: 475px) {
    #details > article > h2 {
        font-size: 24px;
    }
}

@media all and (min-width: 550px) {
    .formTestIdeal > .form-group{
        display: flex;
        flex-wrap: wrap;
    }
    .formTestIdeal > .form-group > .textIdeal {
        width: 40%;
    }
    .listaarriba > label {
        display: none;
    }
    .datisEspecial{
        display: flex;
        flex-wrap: wrap;
    }
    .datisEspecial>p{
        margin-left: 10%;
    }
    #datisUsu {
        width: 85%;
    }
    #details > article > h2 {
        font-size: 28px;
    }
    .listaarriba > div > nav > ul {
        display: flex;
        flex-direction: column;
        left: 0;
        justify-content: center;
    }

    #partemenu {
        display: flex;
        flex-direction: column;
        left: 0;
        justify-content: center;
    }

    .navbar-right {
        visibility: visible;
    }

    .detalle > .img > img {
        width: 275px;
        height: 275px;
    }

    #mainart > .articulos {
        width: 85%;
    }
}
@media all and (min-width: 620px){
 /*Aqui escribimos el codigo de los formularios*/
    .formGuapo, .formNoTanGuapo, .formIncreible {
        width: 580px;
    }
    .readFilters{
        width: 580px;
    }
    .readFilters>ul>li>form>p{
        flex-direction: row;
    }
    .readFilters>ul>li>form>p>.textLabel{
        width: 100px;
        margin-left: 15px;
        margin-top: 15px;
        text-align: left;
    }
    .readFilters > ul > li > form > p >.searchPoner{
        width: 80%;
    }
    .readFilters > ul > li > form > p >.searchPoner> input[type="text"] {
        width: 80%;
    }

    #datisUsu {
        width: 80%;
    }
    .formGuapo > .text, .formNoTanGuapo>.text {
        display: flex;
        flex-direction: row;
    }
    .formGuapo>.text>label, .parFoto{
        text-align: left;
        margin-left: 10px;
        width: 140px;
    }
        .formNoTanGuapo > .checkbox {
            margin-top: -40px;
            width: 10%;
            margin-left: 161px;
        }
    .parFoto2{
        text-align: left;
        margin-left: 10px;
        width: 170px;
    }
    .formNoTanGuapo>.text>label{
        text-align: left;
        margin-left: 10px;
        width: 170px;
    }
    .formGuapo > .text > input, .formGuapo > .text > select, .formNoTanGuapo > .text > input, .formNoTanGuapo > .text > select {
        margin-left: initial;
        width: 60%;
        margin-top: 0px;
    }
    .parFoto > label > img {
        margin-left: 140px;
        margin-top: -20px;
    }
    .parFoto2 > label > img {
        margin-left: 170px;
        margin-top: -20px;
    }
    .busFot2{
        text-align:left;
        margin-top: -20px;
        margin-left: 180px;
    }
    .busFot {
        text-align: left;
        margin-top: -20px;
        margin-left: 150px
    }
    .formGuapo > .text-danger {
        text-align: left;
       width: 640px;
    }
    #busqueda_Rapida > input[type="search"]:hover {
        width: 500px;
        transition: width .5s;
    }
    #busqueda_Rapida > input[type="search"] {
        width: 300px;
        transition: width 1.2s;
    }
    #mainart > .articulos {
        width: 75%;
    }
}

@media all and (min-width: 680px) { 
    #mainart {
        display: flex;
        flex-wrap: wrap;
    }
    #details > article > h2 {
        font-size: 32px;
    }
    .detalle > img {
        width: 500px;
        height: 450px;
    }
    #datisUsu{
        width: 70%;
    }
    #mainart > .articulos {
        width: 44%;
        margin-top: 1em;
    }

    #secanim > .articulos {
        width: 600px;
    }
    .detalle > .img > img {
        width: 350px;
        height: 350px;
    }
    #enlacesAnims{
        display: flex;
    }
    #enlacesAnims > h3 {
        margin-left: 10px;
        width: 40%;
     
    }
}

@media all and (min-width: 775px){
    .formTestIdeal > .form-group > .textIdeal{
        width: 30%;
    }
}

@media all and (min-width: 900px) {

    #details>div{
        width: 45%;
        margin-bottom: 10px;
    }
    .articulos > .titleUsus {
        font-size: 25px;
        text-align: center;
    }
    .detalle > div {
        display: flex;
        flex-direction: column;
    }
    #divAnim{
        display: flex;
        flex-direction: row;
    }
    #datisUsu{
        width: 65%;
    }
    .detalle > img {
        width: 600px;
        height: 450px;
    }
    #details{
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        display: flex;
        flex-wrap: wrap;
    }
    #mainart > .articulos > .animIndex {
        width: 90%;
    }
    #datis, #enlacis {
        width: 42%;
    }
    .detalle > .img > img {
        width: 400px;
        height: 400px;
    }
}

@media all and (min-width: 975px){
    .formTestIdeal{
        width: 878px;
    }
    .formTestIdeal > .form-group > .textIdeal{
        width: 22%;
    }
}

@media all and (min-width: 1020px) {
    #mainart > .articulos {
        margin-left: 2.4%;
        margin-right: 0%;
        width: 30%;
    }
    #datisUsu{
        width: 55%
    }
    #mainart {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        height: 50%;
    }
}

@media all and (min-width: 1100px) {
    #mainart {
        padding: 3em;
    }
}
@media all and (min-width: 1050px){
    .listaarriba > .respmenu > .fas {
        display: none;
    }

    .listaarriba > div > nav, #form_registro {
        display: block;
    }
    input:checked ~ #form_registro{
        margin-top: -83.5px;
    }
    .respmenu > nav > ul {
        margin-left: 9%;
    }
    #form_registro {
        padding-bottom: .1em;
        width: 30%;
        margin-left: auto;
        margin-top: -83px;
    }

        #form_registro > form > .navbar-right {
            display: flex;
        }

    .listaarriba > div > nav > ul {
        width: 100%;
    }

    .listaarriba > div > nav {
        padding: .1em;
        width: 60%;
    }

        .listaarriba > div > nav > ul > li {
            width: 170px;
            height: 70px;
            margin-left: 0;
        }
        .listaarriba > div > nav > ul > li, #form_registro > form > ul > li, #form_registro > ul > li {
            text-align: center;
        }
        .listaarriba > div > nav > ul > li, #form_registro > form > ul > li, #form_registro > ul > li {
            display: flex;
            flex-direction: column;
        }
    #form_registro > form > ul > li, #form_registro > ul > li {
        margin-top: -18px;
    }
    .listaarriba > div > nav > ul, #form_registro > ul {
        display: flex;
        flex-direction: row;
        left: 0;
        justify-content: center;
        
    }
}