
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    color: black;
}

/*****************ELEMENTOS COMUNES A TODAS LAS PAGINAS****************/
img{
    width: 200px;
    height: 200px;
    
}

a {
    color: darkslateblue;
    text-decoration: none;
}
a:hover {
        color: #fc810e;
}
.pagination {
    display: flex;
}
p{
    padding: 0.1em;

}

b{
    padding: 0.1em;
}



body {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #c4f2c6;
    min-width: 340px;
}


.body-content {
    padding: 15px;
}


h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2em;
    margin: 0.2em;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-weight: 800;
    margin: 0.2em;
    text-align: center;
    font-size: 4em;
}

h3{

}


/********************PAGINA CON TABLAS (USUARIO, CONTRATO, SOLICITUD, SEGUIMIENTO)**********************/

.table {
    padding: 1em;
    width: 85%;
    background-color: #c4f2c6;
   
    text-align: center;
    border: 2px solid #fc810e;
}

.table tr {
        background-color: #fff99f;
}

.table figure img {
       
        width: 150px;
        height: 150px;
        border-radius: 70%;
        padding: 1em;
}


/****************************PAGINA DE ANIMALES***************************************/

#mainart, #secanim {
    border: 4px solid #fc810e;
    background-color: #fff99f;
    padding: 2em;
}
#mainart > .articulos > div {
    margin-top: 20px;
    width: 230px;
    text-align: left;
    font-size: 1em;
    padding: 1em;
    margin: 1em;
  
}

.articulos:hover {
    box-shadow: 5px 10px 18px black;
}



  #mainart > .articulos > div > a{
      margin: 0.5em;
      padding: 0.5em;
  }



#mainart > .articulos {
        padding: 1em;
        width: 95%;
        background-color: #c4f2c6;
        margin: 2em;
        text-align: center;
        margin-right:auto;
        margin-left: auto;
}


#secanim > .articulos {
    padding: 1em;
    width: 200px;
    background-color: #c4f2c6;
    margin: 1em;
    text-align: left;
    height: 200px;
}



/**********************PAGINA DE HOME ADMIN***************************/

.inicio > li {
    font-size: 1em;
    padding: 0.8em;
    margin: 0.8em;
    background-color: #fff99f;
    text-align: center;
    list-style-type: none;
}

.inicio{
    margin: 1em;
    justify-content: center;
    font-size: 1.2em;
}

/********************FORMULARIOS Y PAGINAS CREATE EDIT MODIFICAR*****************/

ul {

    justify-content: center;
    text-align: center;
    list-style-type: none;
   
  
}

.formGuapo, .formNoTanGuapo {
    border: 2px solid #fc810e;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background-color: #fff99f;
}
.formGuapo > .text, .formNoTanGuapo> .text{
    display: flex;
    flex-direction: column;
}
    .formGuapo > .text > input, .formGuapo > .text > select, .formNoTanGuapo>.text>input, .formNoTanGuapo>.text>select {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .form-horizontal {
        background-color: #fff99f;
        text-align: center;
        justify-content: center;
        margin-right: 18em;
        margin-left: 18em;
        border: 2px solid #fc810e;
    }


.form-horizontal div{
    padding: 0.5em;
    
    text-align: center;
}



hr {
    display: none;
}

form {
    justify-content: center;
    text-align: center;
  
}

.dl-horizontal {
    background-color: #fff99f;
    border: 2px solid #fc810e;
    margin: 2em;
}

/***********************PAGINA DETALLE ANIMAL*********************************/


.detalle {
    padding: 1em;
    width: 90%;
    background-color: #c4f2c6;
    margin: 1em;
    text-align: center;
    justify-content: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
}

    .detalle > img {
        width: 95%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        margin-bottom: 10px;
    }

#datis {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #fff99f;
    padding: 1em;
    margin-bottom: 10px;
}

#enlacis {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: left;
    background-color: #fff99f;
}

.navbar-header {
    display: grid;
    grid-template-areas: "nombre"
                          "menu";
    
    grid-template-columns: 70%;
    
    justify-content: center;
    
    align-items: center;
    width: 60%;
    margin: 0;
    padding: 0;
    
   
}


#title {
    text-transform: uppercase;
    font-size: 2em;
    grid-area: nombre;
}

.listaarriba {
    display: flex;
    grid-area: menu;
   
}

.listaarriba input[type = "checkbox"]{
    display: none;
}

    .listaarriba > ul {
        background-color: #fc810e;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        left: -110%;
        transition: left .5s;
    }


}#chkmenu {
    display: none;
}

#chkmenu:checked + .nav{
    left: 0;
}
    #chkmenu:not(:checked) ~ .navbar-right {
       
       visibility: hidden; 
    }

    #chkmenu:checked ~ .navbar-right {
       
        visibility: visible;
        transition: 4s;
    }
.listaarriba li {
    font-size: 1em;
    padding: 1em;
    margin: 1em;
    
}



@media all and (min-width: 550px){
    .listaarriba>label{
        display: none;
    }
    .listaarriba ul {
        display: flex;
        flex-direction: column;
        left: 0;
        justify-content: center;
    }
    #partemenu {
        display: flex;
        flex-direction: column;
        left: 0;
        justify-content: center;
    }
    .navbar-right{
        visibility: visible;
    }
}

@media all and (min-width: 620px){
    /*Aqui escribimos el codigo de los formularios*/
    .formGuapo, .formNoTanGuapo{
        width: 580px;
    }
    .formGuapo > .text, .formNoTanGuapo>.text {
        display: flex;
        flex-direction: row;
    }
    .formGuapo>.text>label, .parFoto{
        text-align: left;
        margin-left: 10px;
        width: 140px;
    }
    .parFoto2{
        text-align: left;
        margin-left: 10px;
        width: 170px;
    }
    .formNoTanGuapo>.text>label{
        text-align: left;
        margin-left: 10px;
        width: 170px;
    }
    .formGuapo > .text > input, .formGuapo > .text > select, .formNoTanGuapo > .text > input, .formNoTanGuapo > .text > select {
        margin-left: initial;
        width: 60%;
        margin-top: 0px;
    }
    .parFoto > label > img {
        margin-left: 140px;
        margin-top: -20px;
    }
    .parFoto2 > label > img {
        margin-left: 170px;
        margin-top: -20px;
    }
    .busFot2{
        text-align:left;
        margin-top: -20px;
        margin-left: 180px;
    }
    .busFot {
        text-align: left;
        margin-top: -20px;
        margin-left: 150px
    }
    .formGuapo > .text-danger {
        text-align: left;
       width: 640px;
    }
}

@media all and (min-width: 680px) {
    #mainart {
        display: flex;
        flex-wrap: wrap;
    }
    .detalle > img {
        width: 500px;
        height: 450px;
    }
    #mainart > .articulos {
        width: 40%;
        margin-top: 1em;
    }

    #secanim > .articulos {
        width: 600px;
    }
}

@media all and (min-width: 900px) {
    .listaarriba ul {
        flex-direction: row;
    }
    #details>div{
        width: 45%;
        margin-bottom: 10px;
    }
    .detalle>img{
        width: 600px;
        height: 450px;
    }
    #details{
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        display: flex;
        flex-wrap: wrap;
    }
}
@media all and (min-width: 1020px) {
    #mainart > .articulos {
        margin-left: 2.4%;
        margin-right: 0%;
        width: 30%;
    }

    #mainart {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        height: 50%;
    }
}

@media all and (min-width: 1100px) {
    #mainart {
        padding: 3em;
    }
}